PHP_DATE_TIME_ZONE=Europe/Kyiv
COMPOSER_CACHE_PATH=./docker/composer_cache
APP_ENV=dev

REDIS_HOST="redis"
REDIS_URL="redis://redis"
REDIS_DEFAULT_DSN="redis://redis/0"

# id -u
SYSTEM_USER_ID=1000
# id -g
SYSTEM_GROUP_ID=1000
###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=7e42fae747680725722755228db84163
###< symfony/framework-bundle ###

MAILER_DSN=smtp://email:'password'@smtp.host.com:587
RECIPIENT_ADDRESS=client@stfalcon.com
SENDER_ADDRESS=sender@stfalcon.com
